@{
    ViewBag.Title = "Xác nhận quên mật khẩu - Cash4Fun";
}

<div class="col-md-4 col-md-offset-4" style="margin-top:35px;margin-bottom:35px">
    <aside id="tg-sidebar" class="tg-sidebar">
        <div class="tg-widget tg-widgetlogin">
            <div class="tg-widgetcontent">
                <div class="tg-widgettitle">
                    <hgroup class="title">
                        <h1>Xác nhận quên mật khẩu.</h1>                        
                    </hgroup>
                    <p>
                        Vui lòng kiểm tra email để reset mật khẩu.
                    </p>
                </div>
            </div>
            @*<a href="@Url.Action("Login","Account")" class="tg-btnforgotpassword">Đã có tài khoản? Đăng nhập</a>*@
        </div>
    </aside>
</div>


