
@{
    ViewBag.Title = "Info";
}

@{
    ViewBag.Title = "Info";
}
<div class="right_col" role="main">
    <div style="margin-top:50px">


        <div class="row">
            <div class="col-md-12 col-sm-12 col-xs-12">
                <div class="x_panel">
                    <div class="x_content">
                        @if(ViewBag.Message != null)
                        {
                            <h3>@ViewBag.Message</h3>
                        }
                        else
                        {
                            <h3>
                                Kiểm tra hôp thư email để xác thực tài khoản.
                            </h3>
                        }
                    </div>
                </div>
            </div>
        </div>

    </div>
</div>
<h3></h3>