﻿@{
    Layout = null;
}

<!DOCTYPE html>

<html lang="en">

<!-- Mirrored from www.coderare.com/new/coming-soon.html by HTTrack Website Copier/3.x [XR&CO'2014], Wed, 12 Jul 2017 06:12:40 GMT -->
<head>
    <meta charset="utf-8">
    <title>Kiếm tiền online | Cash4Fun</title>
    <meta name="viewport" content="width=device-width, user-scalable=no, initial-scale=1.0, minimum-scale=1.0, maximum-scale=1.0">

    <!-- Favicon ================== -->
    <!-- Standard -->
    <link rel="shortcut icon" href="img/favicon-144.png">
    <!-- Retina iPad Touch Icon-->
    <link rel="apple-touch-icon" sizes="144x144" href="img/favicon-144.png">
    <!-- Retina iPhone Touch Icon-->
    <link rel="apple-touch-icon" sizes="114x114" href="img/favicon-114.png">
    <!-- Standard iPad Touch Icon-->
    <link rel="apple-touch-icon" sizes="72x72" href="img/favicon-72.png">
    <!-- Standard iPhone Touch Icon-->
    <link rel="apple-touch-icon" sizes="57x57" href="img/favicon-57.png">

    <!--  Resources style ================== -->
    <link href="~/Content/newLayout/css/sunflower.css" rel="stylesheet" type="text/css" media="all" />
    <link href="~/Content/newLayout/css/custom.css" rel="stylesheet" type="text/css" media="all" />
    <script async src="//pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"></script>
    <script>
        (adsbygoogle = window.adsbygoogle || []).push({
            google_ad_client: "ca-pub-7521562460239004",
            enable_page_level_ads: true
        });
    </script>

</head>
<body>
    <section id="parent" class="">
        <div id="leftSide" class="color instate">
            <div id="home" class=" col-sm-8 col-sm-offset-2 col-xs-8 col-xs-offset-2">

                <div class="h-content ">
                    <h3 class="mid animated fadeInUp fw700"> <span style="color:#F61067">Cash4FUN</span><span class="fw300 italic pacifico">- Cùng kiếm tiền - cùng vui..!</span></h3>
                    <h4 class="mid animated fadeInUp fw700 mb20  ">GIÁ COIN HIỆN TẠI: @(ViewBag.GiaCoin)đ/Hình ảnh</h4>
                    <hr />
                    <h4 style="color:#F61067;font-weight:bold">HOA HỒNG 1O% CHO MỖI LƯỢT GIỚI THIỆU</h4>
    <p class="mid animated fadeInUp fw300">- Công việc này bạn chỉ cần nhập hình ảnh (captcha) theo yêu cầu hệ thống, không đòi hỏi chuyên môn hay bằng cấp, ai cũng có thể làm được.</p>
    <p class="mid animated fadeInUp fw300">- Chỉ cần 1 chiếc smartphone hoặc máy tính kết nối internet bạn có thể làm việc ở bất cứ đâu</p>
    <p class="mid animated fadeInUp fw300">- Hệ thống thanh toán hoàn toàn <span style="color:#F61067;font-weight:bold">TỰ ĐỘNG</span>, đủ 1Ok là có thể rút thẻ cào</p>
    <div class="mt50 slow animated fadeInUp">
        <a href="@Url.Action("Login","Account")" class="btn-solid mr20 round">ĐĂNG NHẬP</a>
        <a href="@Url.Action("Register","Account")" class="btn-solid-dark round">ĐĂNG KÝ</a>
    </div>

                </div>

            </div>
            <div class="" style="color:#fff;bottom: 0;">
                <div class="time-dash shadow josefinSans quick animated slideInLeft">
                    <div class="social_tab quick fadeIn">
                        <ul class="social_icons">
                            <li><a href="https://www.facebook.com/Cash4Fun-Ki%E1%BA%BFm-ti%E1%BB%81n-th%E1%BA%ADt-vui-321531654952468/" target="_blank"><i class="ti-facebook "></i> Fanpage Facebook</a></li>
                            <li><a target="_blank" href="https://www.facebook.com/groups/1560797263992885/?fref=nf"><i class="ti-facebook"></i> Group Facebook</a></li>
                        </ul>
                    </div>
                </div>

            </div>

        </div>


        <div id="rightSide" class="visible img-only">

            <div class="scene">
                <div class="wing-left"></div>
                <div class="wing-right"></div>
                <div class="exhaust"></div>
                <div class="capsule">
                    <div class="top">
                        <div class="shadow"></div>
                    </div>
                    <div class="base"></div>
                </div>
                <div class="window-big"></div>
                <div class="window-small"></div>
                <div class="fire-1"></div>
                <div class="fire-2"></div>
                <div class="fire-3"></div>
                <div class="fire-4"></div>
                <div class="spark-1"></div>
                <div class="spark-2"></div>
                <div class="spark-3"></div>
                <div class="spark-4"></div>
                <div class="star star--1"></div>
                <div class="star star--2"></div>
                <div class="star star--3"></div>
                <div class="star star--4"></div>
                <div class="star star--5"></div>
                <div class="star star--6"></div>
                <div class="star star--7"></div>
                <div class="star star--8"></div>
                <div class="star star--9"></div>
                <div class="star star--10"></div>
                <div class="star star--11"></div>
                <div class="star star--12"></div>
                <div class="star star--13"></div>
                <div class="star star--14"></div>
                <div class="star star--15"></div>
                <div class="star star--16"></div>
            </div>
        </div>

    </section>


    <script src="~/Content/newLayout/js/jquery-1.11.3.min.js"></script>
    <script src="~/Content/newLayout/js/bootstrap.min.js"></script>
    <script src="~/Content/newLayout/js/animsition.min.js"></script>
    <script src="~/Content/newLayout/js/jquery.mCustomScrollbar.concat.min.js"></script>
    <script src="~/Content/newLayout/js/script.js"></script>
    <script>
         (function (i, s, o, g, r, a, m) {
             i['GoogleAnalyticsObject'] = r; i[r] = i[r] || function () {
                 (i[r].q = i[r].q || []).push(arguments)
             }, i[r].l = 1 * new Date(); a = s.createElement(o),
                 m = s.getElementsByTagName(o)[0]; a.async = 1; a.src = g; m.parentNode.insertBefore(a, m)
         })(window, document, 'script', 'https://www.google-analytics.com/analytics.js', 'ga');

         ga('create', 'UA-101728093-1', 'auto');
         ga('send', 'pageview');

    </script>
    <!--Start of Tawk.to Script-->
    <!--
    <script type="text/javascript">
var Tawk_API=Tawk_API||{}, Tawk_LoadStart=new Date();
(function(){
var s1=document.createElement("script"),s0=document.getElementsByTagName("script")[0];
s1.async=true;
s1.src='https://embed.tawk.to/5966eede1dc79b329518e05c/default';
s1.charset='UTF-8';
s1.setAttribute('crossorigin','*');
s0.parentNode.insertBefore(s1,s0);
})();
    </script>
        -->
    <!--End of Tawk.to Script-->
</body>

<!-- Mirrored from www.coderare.com/new/coming-soon.html by HTTrack Website Copier/3.x [XR&CO'2014], Wed, 12 Jul 2017 06:12:50 GMT -->
</html>
    @*
<!DOCTYPE html>
<html>
<head>
    <title>Cash4Fun</title>
    <style>
        body, html {
            height: 100%;
            margin: 0;
        }

        .bgimg {
            background-image: url('https://www.w3schools.com/w3images/forestbridge.jpg');
            height: 100%;
            background-position: center;
            background-size: cover;
            position: relative;
            color: white;
            font-family: "Courier New", Courier, monospace;
            font-size: 25px;
        }

        .topleft {
            position: absolute;
            top: 0;
            left: 16px;
        }

        .bottomleft {
            position: absolute;
            bottom: 0;
            left: 16px;
        }

        .middle {
            position: absolute;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);
            text-align: center;
        }

        hr {
            margin: auto;
            width: 40%;
        }
    </style>

</head>
<body>

    <div class="bgimg">
        <div class="topleft">
            <p>Cash4Fun</p>
        </div>
        <div class="middle">
            <h1>BẢO TRÌ HỆ THỐNG</h1>
            <hr>
        </div>
    </div>

</body>
</html>
*@